{% extends 'base.html' %}
{% load static %}

{% block search %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/cardnews.css' %}">

  <ul id="tabs-swipe-demo " class="tabs center-align">
    <li class="tab col s3 l4"><a class="tab1" href="#test-swipe-1">장르취향 1</a></li>
    <li class="tab col s3 l4"><a class="tab2" href="#test-swipe-2">장르취향 2</a></li>
    <li class="tab col s3 l4"><a class="tab3" href="#test-swipe-3">극의 특징 3</a></li>
  </ul>

  <div id="test-swipe-1" class="col s12">
  <div id="genre1">
  <h3>당신의 극 장르 취향1</h3>
  <p>선호하는 항목을 클릭해주세요!</p>
  <div class="row center-align">
       <div class="col s10 m4 l2">
            <div class=" selection">
                <div class="bi">
                  <img class="img" src="{% static 'img/bi.png'%}" style="width:270px;">
                  <div class="value">1</div>
                </div>
                </div>

              </div>


          <div class="col s10 m4 l2">
          <div class=" selection">
              <div class="hui">
                <img class="img" src="{% static 'img/hui.png'%}" style="width:270px;">
                <div class="value">2</div>
              </div>
              </div>
            </div>

          <div class="col s10 m4 l2">
              <div class=" selection">
              <div class="hee">
                <img class="img" src="{% static 'img/hee.png'%}" style="width:270px;">
                <div class="value">3</div>
              </div>
            </div>
          </div>

           <div class="col s10 m4 l2">
              <div class=" selection">
              <div class="so">
                <img class="img" src="{% static 'img/so.png'%}" style="width:270px;">
                <div class="value">4</div>
              </div>
              </div>

            </div>

           <div class="col s10 m4 l2">
              <div class=" selection">
              <div class="tong">
                <img class="img" src="{% static 'img/tong.png'%}" style="width:270px;">
                <div class="value">5</div>
              </div>

              </div>

            </div>
  </div>
  </div>
  </div>


  <div id="test-swipe-2" class="col s12">
<div id="genre2">
  <h3>당신의 극 장르 취향2</h3>
  <p>선호하는 항목을 클릭해주세요!</p>
    <div class="row center-align">
             <div class="col s10 m4 l2">
            <div class=" selection">
                <div class="gong">
                  <img class="img" src="{% static 'img/gong.png'%}"
                  style="width:270px;">
                  <div class="value">6</div>
                </div>
              </div>
            </div>

             <div class="col s10 m4 l2">
            <div class=" selection">
                <div class="su">
                  <img class="img" src="{% static 'img/su.png'%}"
                  style="width:270px;">
                  <div class="value">7</div>
                </div>
                </div>
            </div>

             <div class="col s10 m4 l2">
            <div class=" selection">
                <div class="chu">
                  <img class="img" src="{% static 'img/chu.png'%}"
                  style="width:270px;">
                  <div class="value">8</div>
                </div>
                </div>

              </div>

             <div class="col s10 m4 l2">
            <div class=" selection">
                <div class="ro">
                  <img class="img" src="{% static 'img/ro.png'%}"
                  style="width:270px;">
                  <div class="value">9</div>
                </div>
                </div>

              </div>
      </div>
  </div>
  </div>


  <div id="test-swipe-3" class="col s12 ">
  <div id="genre3">
    <div class="row center-align" style="overflow-y: auto;">
  <h3>당신의 극 분위기 취향</h3>
  <p>선호하는 항목을 클릭해주세요!</p>
          <div class="col s10 m4 l4">
        <div class=" selection gen3">
            <div class="ye">
              <img class="img" src="{% static 'img/ye.png'%}"
              style="width:270px;">
              <div class="value">1</div>
            </div>
            </div>

        </div>


          <div class="col s10 m4 l4">
        <div class=" selection gen3">
            <div class="nt">
              <img class="img" src="{% static 'img/nt.png'%}"
              style="width:270px;">
              <div class="value">4</div>
            </div>

        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class=" selection gen3">
            <div class="gam">
              <img class="img" src="{% static 'img/gam.png'%}"
              style="width:270px;">
              <div class="value">5</div>
            </div>
            </div>

        </div>


          <div class="col s10 m4 l4">
        <div class="selection genx3">
            <div class="sun">
              <img class="img" src="{% static 'img/sun.png'%}"
              style="width:270px;">
              <div class="value">8</div>
            </div>
            </div>
          </div>


          <div class="col s10 m4 l4">
        <div class=" selection gen3">
            <div class="sil">
              <img class="img" src="{% static 'img/sil.png'%}"
              style="width:270px;">
              <div class="value">2</div>
            </div>
        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class=" selection gen3">
            <div class="dae">
              <img class="img" src="{% static 'img/dae.png'%}"
              style="width:270px;">
              <div class="value">3</div>
            </div>
            </div>
          </div>



          <div class="col s10 m4 l4" style="display: inline-block;">
        <div class=" selection gen3">
            <div class="ut">
              <img class="img" src="{% static 'img/ut.png'%}"
              style="width:270px;">
              <div class="value">6</div>
            </div>
            </div>
        </div>


          <div class="col s10 m4 l4" style="display: inline-block;">
        <div class=" selection gen3">
            <div class="a">
              <img class="img" src="{% static 'img/a.png'%}"
              style="width:270px;">
              <div class="value">7</div>
            </div>
            </div>
          </div>


          <div class="col s10 m4 l4" style="display: inline-block;">
        <div class=" selection gen3">
            <div class="yu">
              <img class="img" src="{% static 'img/yu.png'%}"
              style="width:270px;">
              <div class="value">9</div>
            </div>
            </div>
          </div>
      </div>
      </div>

    </div>
        <a href="{% url 'accounts:cardnews' %}" class="btn" id="rec_start">제출하기</a>

<script type="text/javascript">
  $('.1_next').click(function(e) {
    $('#test-swipe-1').css('display', 'none');
    $('#test-swipe-2').css('display', 'block');
    $('.tab1').removeClass('active');
    $('.tab2').addClass('active');
  });
  $('.2_next').click(function(e) {
    $('#test-swipe-2').css('display', 'none');
    $('#test-swipe-3').css('display', 'block');
  });
  $('.tab1').click(function(e) {
    $('#test-swipe-2').css('display', 'none');
    $('#test-swipe-3').css('display', 'none');
  });
  $('.tab2').click(function(e) {
    $('#test-swipe-1').css('display', 'none');
    $('#test-swipe-3').css('display', 'none');
  });
  var genre = [];
  var character = []
  $('.selection').click(function(e) {
    if($(this).hasClass('selected')){
      $(this).removeClass('selected');
      var select = $(this).find('.value').html();
      if($(this).hasClass('gen3')){
        var idx = character.indexOf(select);
        character.splice(idx, 1);

        console.log(character);
      }else {
      var idx = genre.indexOf(select);
      genre.splice(idx, 1);

      console.log(genre);
      }
    }
    else {
      $(this).addClass('selected');
      var select = parseInt($(this).find('.value').html());
      if($(this).hasClass('gen3')){
        character.push(select);
        console.log(character);
      }else{
      genre.push(select);
      console.log(genre);
      }
    }
  });

  $('#rec_start').click(function(e) {
    var url = $(this).attr('href');
    console.log(genre);
    console.log(character);

    $.post(url, {
      genre: genre,
      character: character
    }).done(function() {
      location.href = '{% url "accounts:cardnews_2" %}';
    });
    return false;
  });
</script>

{% endblock %}