{% extends 'base.html' %}
{% load static %}

{% block search %}

  <ul id="tabs-swipe-demo" class="tabs center-align">
    <li class="tab col s3 l4"><a class="tab1" href="#test-swipe-1">장르취향 1</a></li>
    <li class="tab col s3 l4"><a class="tab2" href="#test-swipe-2">장르취향 2</a></li>
    <li class="tab col s3 l4"><a class="tab3" href="#test-swipe-3">극의 특징 3</a></li>
  </ul>

  <div id="test-swipe-1" class="col s12 blue">
<div id="genre1">
  <div class="row">
        <h3>당신의 극 장르 취향1</h3>
       <div class="col s10 m4 l2">
            <div class="card selection">
                <div class="card-image">
                  <img class="img" src="{% static 'img/test.png'%}">
                  <span class="card-title">비극</span>
                  <div class="value">1</div>
                </div>
                <div class="card-content" style="height: 170px; overflow:visible;">
                  <p>심각하거나 비참한 주인공의 이야기로  카타르시스를 느끼게 하는 슬픈 연극입니다.  가장 대표적인 예로 셰익스피어의 4대 비극이 있지요.</p>
                </div>

              </div>
            </div>

          <div class="col s10 m4 l2">
          <div class="card selection">
              <div class="card-image">
                <img class="img" src="{% static 'img/test.png'%}">
                <span class="card-title">희극</span>
                <div class="value">2</div>
              </div>
              <div class="card-content" style="height: 170px; overflow:visible;">
                <p>해학과 풍자가 가득해 웃음을 자아내지만 철학적 사색이나 사회적 비판이 가미되어서 교훈을 느낄 수 있는 연극입니다.</p>
              </div>

            </div>
          </div>

          <div class="col s10 m4 l2">
              <div class="card selection">
              <div class="card-image">
                <img class="img" src="{% static 'img/test.png'%}">
                <span class="card-title">희비극</span>
                <div class="value">3</div>
              </div>
              <div class="card-content" style="height: 170px; overflow:visible;">
                <p>이건 말 그대로, 희극과 비극이 혼합된 형태로 비극으로 시작하지만 상황이 전화되어서 행복한 상황으로 끝나는 연극입니다!! 대표적으로 연극 ‚올드위키드송‘ 이 있죠!</p>
              </div>

            </div>
          </div>

           <div class="col s10 m4 l2">
              <div class="card selection">
              <div class="card-image">
                <img class="img" src="{% static 'img/test.png'%}">
                <span class="card-title">소극</span>
                <div class="value">4</div>
              </div>
              <div class="card-content" style="height: 170px; overflow:visible;">
                <p>그냥 관객을 익살스럽고 우스꽝스러운 사건을 다루며, 관객을 웃기기 위한 목적으로 만든 극이예요!!!
                예로 택시 드리벌이 있지요!!</p>
              </div>

            </div>
          </div>

           <div class="col s10 m4 l2">
              <div class="card selection">
              <div class="card-image">
                <img class="img" src="{% static 'img/test.png'%}">
                <span class="card-title">통속극</span>
                <div class="value">5</div>
              </div>
              <div class="card-content" style="height: 170px; overflow:visible;">
                <p>사건의 전개와 인물의 감정에 치중하는 이야기로 멜로 드라마라고도 불리는 연극입니다. 하지만 통속극은 좀더 무게감 있게 그 인물의 감정을 다루고 있지요!!
                가장 대표적으로 영화로도 만들어진 연극 클로저가 있어요!!</p>
              </div>

            </div>
          </div>
  </div>
<button class="btn 1_next">다음</button>
  </div>
  </div>
  <div id="test-swipe-2" class="col s12 red">
<div id="genre2">
    <div class="row">
              <h3>당신의 극 장르 취향2</h3>
             <div class="col s10 m4 l3">
            <div class="card selection">
                <div class="card-image">
                  <img class="img" src="{% static 'img/test.png'%}">
                  <span class="card-title">공포</span>
                  <div class="value">6</div>
                </div>
                <div class="card-content" style="height: 170px; overflow:visible;">
                  <p>공포라는 장르가 연극에도 있어요! 각종 두려움을 다른 매체 보다 더 생생하게 느낄 수 있는 장르의 연극입니다!!</p>
                </div>

              </div>
            </div>

             <div class="col s10 m4 l3">
            <div class="card selection">
                <div class="card-image">
                  <img class="img" src="{% static 'img/test.png'%}">
                  <span class="card-title">스릴러</span>
                  <div class="value">7</div>
                </div>
                <div class="card-content" style="height: 170px; overflow:visible;">
                  <p>심스릴러는 손에 땀을 쥐고 보는 듯한 팽팽한 긴장감을 가진 연극 이예요! 그만큼 배우의 연기와 이야기의 흐름에 몰입해서 볼 수 있다는 말이죠.  연극 가스등 이 가장 대표적이죠!!</p>
                </div>

              </div>
            </div>

             <div class="col s10 m4 l3">
            <div class="card selection">
                <div class="card-image">
                  <img class="img" src="{% static 'img/test.png'%}">
                  <span class="card-title">추리극</span>
                  <div class="value">8</div>
                </div>
                <div class="card-content" style="height: 170px; overflow:visible;">
                  <p>탐정물을 좋아하시나요?? 말그대로 추리를 바탕으로 하는 극을 의미해요! 설록홈즈 처럼 말이예요~  연극을 보면서 긴장감을 놓을 수가 없겠죠?</p>
                </div>

              </div>
            </div>

             <div class="col s10 m4 l3">
            <div class="card selection">
                <div class="card-image">
                  <img class="img" src="{% static 'img/test.png'%}">
                  <span class="card-title">로맨틱</span>
                  <div class="value">9</div>
                </div>
                <div class="card-content" style="height: 170px; overflow:visible;">
                  <p>심로맨틱은 극에 나오는 연애 보다는 실제의 연애를 그대로 담고 있어요! 진지하기보다는 보다 가볍고 재미있게 사랑을 풀어내고 있는 극들이죠!</p>
                </div>

              </div>
            </div>
      </div>
      <button class="btn 2_next">다음</button>
  </div>
  </div>
  <div id="test-swipe-3" class="col s12 green">
  <div id="genre3">
    <div class="row">
  <h3>당신의 극 분위기 취향</h3>
          <div class="col s10 m4 l4">
        <div class="card selection gen3">
            <div class="card-image">
              <img class="img" src="{% static 'img/test.png'%}">
              <span class="card-title">예술적</span>
              <div class="value">1</div>
            </div>
            <div class="card-content" style="height: 170px; overflow:visible;">
              <p>심단순한 흥미보다는 한번 연극을 보고 많은 생각을 할 수 있는 연극을 보고 싶으신가요??</p>
            </div>

        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class="card selection gen3">
            <div class="card-image">
              <img class="img" src="{% static 'img/test.png'%}">
              <span class="card-title">NTLIVE/<br>해외생중계공연</span>
              <div class="value">2</div>
            </div>
            <div class="card-content" style="height: 170px; overflow:visible;">
              <p>종종 해외에서 열리는 유명한 공연을 한국의 유명한 극장에서 생중계로 볼 수 있는 연극이예요!! 극장에서  해외의 유명한 배우들을 생생하게 만나보아요!!</p>
            </div>

        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class="card selection gen3">
            <div class="card-image">
              <img class="img" src="{% static 'img/test.png'%}">
              <span class="card-title">감동적</span>
              <div class="value">3</div>
            </div>
            <div class="card-content" style="height: 170px; overflow:visible;">
              <p>마음이 따뜻해지는 극을 좋아하나요? 가족들과 함께 연극을 보고 싶으면 이 항목을 눌러주세요!</p>
            </div>

        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class="card selection gen3">
            <div class="card-image">
              <img class="img" src="{% static 'img/test.png'%}">
              <span class="card-title">선정적</span>
              <div class="value">4</div>
            </div>
            <div class="card-content" style="height: 170px; overflow:visible;">
              <p>어머! 눈감아_ 이건 말 안해도 알죠??</p>
            </div>

        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class="card selection gen3">
            <div class="card-image">
              <img class="img" src="{% static 'img/test.png'%}">
              <span class="card-title">실험적</span>
              <div class="value">5</div>
            </div>
            <div class="card-content" style="height: 170px; overflow:visible;">
              <p>그저 보통의 스토리 말고 연극에서 설정이 또는 무대 등에 특이한 요소가 있는 연극을 좋아하시나요?</p>
            </div>

        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class="card selection gen3">
            <div class="card-image">
              <img class="img" src="{% static 'img/test.png'%}">
              <span class="card-title">대중적</span>
              <div class="value">6</div>
            </div>
            <div class="card-content" style="height: 170px; overflow:visible;">
              <p>당신은 이전에 공연이 되었던, 또는 이미 오래 동안 공연이 되어 왔던 공연을 보시길 원하시나요??</p>
            </div>

        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class="card selection gen3">
            <div class="card-image">
              <img class="img" src="{% static 'img/test.png'%}">
              <span class="card-title">웃음만발</span>
              <div class="value">7</div>
            </div>
            <div class="card-content" style="height: 170px; overflow:visible;">
              <p>재미있고 또 재미있는 극입니다! 스트레스를 날려버릴 연극을 좋아하시나요?</p>
            </div>

        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class="card selection gen3">
            <div class="card-image">
              <img class="img" src="{% static 'img/test.png'%}">
              <span class="card-title">아이와함께</span>
              <div class="value">8</div>
            </div>
            <div class="card-content" style="height: 170px; overflow:visible;">
              <p>어린 아이와 함께 또는 가족들과 함께 볼 수 있는 진한 감동적인 극을 원하시나요??</p>
            </div>

        </div>
          </div>

          <div class="col s10 m4 l4">
        <div class="card selection gen3">
            <div class="card-image">
              <img class="img" src="{% static 'img/test.png'%}">
              <span class="card-title">원작기반</span>
              <div class="value">9</div>
            </div>
            <div class="card-content" style="height: 170px; overflow:visible;">
              <p>만화, 영화, 뮤지컬, 고전 희곡 등 원작이 있는 공연을 보고 싶으신가요??</p>
            </div>

        </div>
          </div>

      </div>

      <a href="{% url 'accounts:recommend' %}" class="btn" id="rec_start">제출하기</a>
    </div>
  </div>
<script type="text/javascript">
  $('.1_next').click(function(e) {
    $('#test-swipe-1').css('display', 'none');
    $('#test-swipe-2').css('display', 'block');
    $('.tab1').removeClass('active');
    $('.tab2').addClass('active');
  });
  $('.2_next').click(function(e) {
    $('#test-swipe-2').css('display', 'none');
    $('#test-swipe-3').css('display', 'block');
  });

  var genre = [];
  var character = []
  $('.selection').click(function(e) {
    if($(this).hasClass('selected')){
      $(this).removeClass('selected');
      var select = $(this).find('.value').html();
      if($(this).hasClass('gen3')){
        var idx = character.indexOf(select);
        character.splice(idx, 1);

        console.log(character);
      }else {
      var idx = genre.indexOf(select);
      genre.splice(idx, 1);

      console.log(genre);
      }
    }
    else {
      $(this).addClass('selected');
      var select = parseInt($(this).find('.value').html());
      if($(this).hasClass('gen3')){
        character.push(select);
        console.log(character);
      }else{
      genre.push(select);
      console.log(genre);
      }
    }
  });

  $('#rec_start').click(function(e) {
    var url = $(this).attr('href');
    console.log(genre);
    console.log(character);

    $.post(url, {
      genre: genre,
      character: character
    }).done(function() {
      location.href = '{% url "accounts:recommend_2" %}';
    });
    return false;
  });
</script>

<link rel="stylesheet" type="text/css" href="{% static 'css/cardnews.css' %}">

{% endblock %}