{% extends 'base.html' %}
{% load static %}
{% block accounts %}
<script type="text/javascript">
  $('.navbar-fixed').css('display', 'none');
</script>
<div class="row">
<div class="login_img col l8">
  <img src="{% static 'login_img.jpeg' %}">
</div>
<div class="login_box col l4">
{% if request.user.is_authenticated %}

<h1>{{ request.user.username }}</h1>
<form action="{% url 'accounts:logout' %}" method="POST">
  {% csrf_token %}
<button>Log out</button>
</form>

{% else %}
<div class="login">
<h2>Log In</h2>
<form method="POST">
  {% csrf_token %}
{{ form.as_p }}
<br>
  <button type="submit" class="waves-effect waves-light btn" style="margin:50px auto;">로그인</button>

</form>
</div>
{% endif %}
</div>
</div>
{% endblock %}