{% extends 'base.html' %}

{% block accounts %}
<h3>{{ profile.user }}</h3>

 {% if profile.is_groupuser %}
 <img src="{{ profile.group_image_url }}" style="width:200px; height: 250px;">
 <p>극단이름 : {{ profile.user }}</p>
 <p></p>
 {% else %}
 <img src="{{ profile.image_url }}" style="width:200px; height: 250px;">

 <p> 내 마음속에 저장 : {% for i in play_to_my_heart %}<img src="{{ i.poster }}" alt="" /> {% endfor %}</p>
 <p>
   나는 태그를 이렇게 달앗음 !!{% for a in review_user %}{{ a.name}}

  {% empty %}태그가 없습니다.
   {% endfor %}
 </p>
 <p>
   너가 팔로우 한 사람이 본 연극임  ㅋㅋㅋㅋ 참고 하삼
   {% for i in follower_review %}
   <img src="{{ i.play.poster }}" alt=""/>{% endfor %}
 </p>

 <p> 좋아하는 극  :{{ profile.liebe_t|default:"아직 없어용 "}}</p>
 <p> 자기소개 : {{ profile.recommand_t|default:"몰라용, 더 알고 싶으세요??"}}</p>
{% endif %}
 {% if request.user.profile == profile %}
 <a href="{% url 'accounts:profile_update' request.user.username %}" class="btn"> 프로필 수정할래요 </a>
 {% else %}
  <a href="{% url 'accounts:follow' profile.user.pk %}" id="follow_button">
    {% include 'accounts/follow_button.html' %}
  </a>
  <script type="text/javascript">
    $('#follow_button').click(function(e) {
        var self = $(this);
        var url = $(this).attr('href');

        $.post(url)
        .done(function(r){
            self.html(r);
        }).fail(function() {
            alert('다시한번 시도해주세요');
        });
      return false;
    });
  </script>
 {% endif %}
 <a href="{% url 'search:review' profile.user.pk %}" class="btn">공연 다이어리</a>

{% endblock %}