{% extends 'base.html' %}

{% block accounts %}

<div class="login_start">
  {% if request.user.is_authenticated %}
  <h3> 이미 로그인을 하셨어요!! 로그아웃 하고 싶어요??</h3>
  <form method="POST">
  <button type="submit" action="{% url 'accounts:logout' %}">
    로그아웃
  </button>
  </form>
  {% else %}

    <button class="normal btn">
      일반회원
    </button>

    <button class="theater btn">
      극단회원
    </button>

    <form method="POST" id="signup" enctype="multipart/form-data">
      {% csrf_token %}
      {{ signup_form.as_p }}
      {{ profile_form.as_p }}
      <button class="btn" type="submit">회원가입하기</button>

    </form>
    <script type="text/javascript">
    $('#id_is_groupuser').prevAll().css('display', 'none');
      $('.normal').click(function(e) {
        var url = "{% url 'accounts:signup' %}";
        $.post(url,
          { theater: false })
        .done(function(r) {
          $('#signup').html(r);
          $('#id_is_groupuser').prevAll().css('display', 'none');
        });
      });
      $('.theater').click(function(e) {
        var url = "{% url 'accounts:signup' %}";
        var theatre = { theater: true };
        $.post(url, theatre)
        .done(function(r) {
          $('#signup').html(r);
          $('#id_is_groupuser').attr('checked', 'true').prevAll().css('display', 'none');
        });
      });
    </script>

      <div id="map"></div>
<br>
<script language="javascript">
function initMap() {
        var uluru = {lat: parseFloat("-37.2345"), lng: parseFloat("-125.3453")};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          draggable:true,
          title:"Drag me!"
        });
      }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeZY_e4UJ_3tJa_TPqgHdjB-DztK2TYtw&callback=initMap">
    </script>
  {% endif %}
</div>
{% endblock %}