{% extends 'base.html' %}

{% block accounts %}

<div class="login_start">
  {% if request.user.is_authenticated %}
  <h3> 이미 로그인을 하셨어요!! 로그아웃 하고 싶어요??</h3>
  <form method="POST">
  <button type="submit" action="{% url 'accounts:logout' %}">
    로그아웃
  </button>
  </form>
  {% else %}

    <button class="normal btn">
      일반회원
    </button>

    <button class="theater btn">
      극단회원
    </button>

    <form method="POST" id="signup" enctype="multipart/form-data">
      {% csrf_token %}
      {{ signup_form.as_p }}
      {{ profile_form.as_p }}
    </form>
    {% include 'accounts/map.html' %}
    <button class="btn center-align" id="sub" type="submit">회원가입하기</button>


    <script type="text/javascript">
    var theater = false;

    $('#sub').click(function(){
      $('#signup').submit();
    });
    $('#id_is_groupuser').prevAll().css('display', 'none');
      $('.normal').click(function(e) {
        var url = "{% url 'accounts:signup' %}";
        $.get(url,
          { theater: false })
        .done(function(r) {
          $('#signup').html(r);
          $('#id_is_groupuser').prevAll().css('display', 'none');
        });
      });
      $('.theater').click(function(e) {
        var url = "{% url 'accounts:signup' %}";
        var theatre = { theater: true };
        $.get(url, theatre)
        .done(function(r) {
          $('#signup').html(r);
          $('#id_is_groupuser').attr('checked', 'true').prevAll().css('display', 'none');

        });
      });
    </script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeZY_e4UJ_3tJa_TPqgHdjB-DztK2TYtw&callback=initMap&libraries=places">
    </script>
<script language="javascript">
var map;
var markers = [];
var geocoder;

function initMap() {
        // var uluru = {lat: parseFloat("37.2345"), lng: parseFloat("125.3453")};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: new google.maps.LatLng(34.397, 127.644)
        });
        geocoder = new google.maps.Geocoder();
        // var marker = new google.maps.Marker({
        //   position: map.center,
        //   map: map,
        //   draggable:true,
        //   title:"Drag me!"
        // });
        var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(33.8902, 125.1759),
        new google.maps.LatLng(38.8474, 132.2631));

        var input = document.getElementById('pac-input');

        var searchBox = new google.maps.places.SearchBox(input, {
            bounds: defaultBounds });
        geocodeAddress(geocoder, map);




        // Listen for the event fired when the user selects a prediction and retrieve
      // more details for that place.
      searchBox.addListener('places_changed', function() {
        initMap();
        $('#id_theater').val(null);
        var places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }
        $("#id_address_lat").val(places[0].geometry.location.lat());
          $("#id_address_lng").val(places[0].geometry.location.lng());
        // Clear out the old markers.
        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if(place != places[0]){ return; }
          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }
          var icon = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
          };

          // Create a marker for each place.
          markers.push(new google.maps.Marker({
            map: map,
            // icon: icon,
            draggable: true,
            title: place.name,
            position: place.geometry.location
          }));
                  markers[0].addListener('drag', function(){
          $("#id_address_lat").val(markers[0].position.lat());
          $("#id_address_lng").val(markers[0].position.lng());
          $('#pac-input').val('');
        });

          if (place.geometry.viewport) {
            // Only geocodes have viewport.
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        map.fitBounds(bounds);
      });
            }
      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('pac-input').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            // var marker = new google.maps.Marker({
            //   map: resultsMap,
            //   position: results[0].geometry.location
            // });
            console.log(results[0].geometry);
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }

</script>

  {% endif %}
</div>
{% endblock %}