#wrap {
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: center;
    color: white;
    margin-top: 70px;
    margin-bottom: 40px;
}
p {
    text-align: center;
    color: white;
}
.row {
    margin-top: 100px;
    overflow-y: auto;
    padding-left: 120px;
}

.genre1 > .row{
    padding-left: 100px;
}

span .card-title {
    text-align: center;
}

.selected {
    opacity: 0.5;
}

.value {
    display:none;
}


.form {
    width: 60%;
    margin: 250px auto;
}


.ut {
    display: inline-block;
}

.a {
    display: inline-block;
}

.yu {
    display: inline-block;
}

.gen3 {
    display: inline-block;
}
