    main {
      position: relative;
    }


    .poster {
      display: inline-block;
      /*float: left;*/
      width: 200px;
      height: 250px;
    }

    .nav {
      display: inline-block;
      float:right;
    }

    .search_input {
      text-align: center;
      margin-top: 30px;
    }

    .login_box {
      width: 70%;
      margin: 0 auto;
      background-color: white;
      height: 899px;
      position: relative;
    }

    nav {
      background-color: cyan;
    }

    .box {
      margin: 20px auto;
      width: 80%;
      margin: 0 auto;
    }

    .row .col {
      padding: 0;
    }

    .login_img img {
      width: 100%;
      height: 893px;
    }

    .login {
      width: 80%;
      margin: 100px auto;
    }

    .login_start {
      width: 80%;
      margin: 0 auto;
    }

    #map {
        height: 400px;
        width: 60%;
        margin: 10px auto;
       }