{% extends 'base.html' %}
{% load static %}
{% block search %}

<div class="row" style="width: 1000px; background: #DBDBDB; margin: 0 auto;">
<div class ="poster_img" style="text-align:left;">
  <img src="{{ play.poster }}" style="width: 250px; height: 300px; display: inline-block;">
</div>
<div class="play_infor" style="text-align:left">
 <div class="row" style="margin-bottom: 0px">
      <h1 id="play_name">{{ play.name }}</h1>
        <span class="flow-text">
            <div class="star_box">
                <i class="material-icons first star {{ play.name }}">star_border</i>
                <i class="material-icons star {{ play.name }}">star_border</i>
                <i class="material-icons star {{ play.name }}">star_border</i>
                <i class="material-icons star {{ play.name }}">star_border</i>
                <i class="material-icons star {{ play.name }}">star_border</i>
                <span>{{ play.rate }}</span>
          </div>
            <h3 style="font-size:30px">{{ play.start_date }} ~ {{ play.end_date }}</h3>
            <h3 style="font-size:20px"> 출연진:  {{ play.actor }}</h3>
            <h3 style="font-size:20px"> 스탭진:  {{ play.staff }}</h3>
            <h3 style="font-size:20px"> 가격:  {{ play.price }}</h3>
       </span>
    </div>
  </div>

  <script type="text/javascript">
    var rate = "{{ play.rate }}";
    var star = document.getElementsByClassName("star {{ play.name }}");
    for(var i=0; i<parseInt(rate); i++) {
      star[i].innerHTML = "star";
    }
    if((rate%1) >= 0.5){
      star[i].innerHTML = "star_half";
    }
  </script>
  <div class="heart_button">
  <p style="margin-bottom: 40px; margin-top: 0px;">
    <a id= "to_my_heart_button" style="text-align:center;"href="{% url 'search:to_my_heart' play.playid %}" >

      {% include 'to_my_heart_button.html'%}
    </a>
  </p>
</div>
    </div>
    <script>
        $('#to_my_heart_button').click(function(e) {
            var self = $(this);
            var url = $(this).attr('href');

            $.post(url)
                .done(function(r) {
                    self.html(r);
                })
                .fail(function() {
                    alert('오류가 발생했습니다 ')
                });
                return false;
            });

          </script>

          </div>
  <div class="row" style="width: 1000px; background: #EDEDED;">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6 l6"><a href="#test1">상세정보</a></li>
        <li class="tab col s6 l6"><a class="active" href="#test2">리뷰보기 </a></li>

      </ul>
    </div>

    <div id="test1" class="col s12" style="text-align:center">
  {% if play.user_upload %}

  {% if play.styurl1_self|length > 4 %}
  <img src="{{ play.styurl1_self.url }}">
  {% else %}
  <p> i'm sorry but 상세정보가 없습니다 </p>

  {% endif %}
  {% if play.styurl2_self|length > 4 %}
  <img src="{{ play.styurl2_self.url }}">
  {% endif %}
  <br>
  {% if play.styurl3_self|length > 4 %}
  <img src="{{ play.styurl3_self.url }}">
  {% endif %}
  <br>
  {% if play.styurl4_self|length > 4 %}
  <img src="{{ play.styurl4_self.url }}">
  {% endif %}

  {% else %}

  {% if play.styurl1|length > 4 %}
  <img src="{{ play.styurl1 }}">
  {% else %}
  <p> i'm sorry but 상세정보가 없습니다. 하지만 때론 운에 맡겨보는것도!! 좋아요  </p>

  {% endif %}
  <br>
  {% if play.styurl2|length > 4 %}
  <img src="{{ play.styurl2 }}">
  {% endif %}
  <br>
  {% if play.styurl3|length > 4 %}
  <img src="{{ play.styurl3 }}">
  {% endif %}
  <br>
  {% if play.styurl4|length > 4 %}
  <img src="{{ play.styurl4 }}">
  {% endif %}

  {% endif %}

  <div id="map"></div>
<br>
<script language="javascript">
function initMap() {
        var uluru = {lat: parseFloat("{% if play.theater %} {{ play.theater.latitude }} {% else %} {{ play.lat }} {% endif %}"), lng: parseFloat("{% if play.theater %} {{ play.theater.longitude }} {% else %} {{ play.lng }} {% endif %}")};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        console.log(uluru.lat);
      }


function winOpen1()
{
        window.open("{% url 'search:review' play.playid %}", "newWin", "width=1000px, height=1000px, toolbar=no, scroll=no");
}
function winOpen2()
{
        window.open("{% url 'search:review_create' play.playid %}", "newWin", "width=1000px, height=1000px, toolbar=no, scroll=no");
}
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeZY_e4UJ_3tJa_TPqgHdjB-DztK2TYtw&callback=initMap">
    </script>
    </div>

    <div id="test2" class="col s12" style=" width: 80%; margin: auto 100px; text-align: center;">
      {% if review.count %}

    <div class="review_create_button" style="text-align: center; display: inline-block; margin: 15px auto;">
      <a href="{% url 'search:review_create' play.playid %}" class="btn">리뷰 작성하기</a>
    </div>

  {% for a in review %}

  <div class="review_show">
    <div class="card horizontal" style="position:relative; background: white;">
 <!--     <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>  -->
      <div class="card-stacked">
        <div class="card-content">
          <span><a href="{% url 'accounts:profile_detail' a.author.username %}">{{ a.author.username }}</a></span>
          <!--별점 추가하기 줄바꿈이 아니니까 p 태그 또는 br 태그 사용금지 -->
          <span class="star_box">
                <i class="material-icons first star {{ a.title }}">star_border</i>
                <i class="material-icons star {{ a.title }}">star_border</i>
                <i class="material-icons star {{ a.title }}">star_border</i>
                <i class="material-icons star {{ a.title }}">star_border</i>
                <i class="material-icons star {{ a.title }}">star_border</i>
                <span><h5 style="display: inline-block;">{{ a.rate }}</h5></span>
            <script type="text/javascript">
              var rate = parseInt("{{ a.rate }}");
              var star = document.getElementsByClassName("star {{ a.title }}");
              for(var i=0; i<rate; i++) {
                star[i].innerHTML = "star";
              }
            </script>
          </span>
          <a href="{% url 'search:review_detail' a.pk %}"><p>{{ a.content }}</p></a>
          <!--
            <p>a.review의 또 tag여기가 그 태그가 들어갈 부분 -->
        {% for i in a.tag.all %}
              <div class="chip" style="font-color:black">
                {{ i.name }}
              </div>
              {% empty %}
              <p>붙은 태그가 없습니다.</p>
              {% endfor %}
        </div>
        <div class="card-action">
          <div>
            {% if a.img1 %}
            <a href="#modal1" class="modal-trigger" alt="{% url 'search:review_detail' a.pk %}">
            <img src="{{ a.img1.url }}" class="review_img" alt="1">
            </a>
            {% endif %}
            {% if a.img2 %}
            <a href="#modal1" class="modal-trigger" alt="{% url 'search:review_detail' a.pk %}">
            <img src="{{ a.img2.url }}" class="
            review_img" alt="2">
            </a>
            {% endif %}
            {% if a.img3 %}
            <a href="#modal1" class="modal-trigger" alt="{% url 'search:review_detail' a.pk %}">
            <img src="{{ a.img3.url }}" class="review_img" alt="3">
            </a>
            {% endif %}
            {% if a.img4 %}
            <a href="#modal1" class="modal-trigger" alt="{% url 'search:review_detail' a.pk %}">
            <img src="{{ a.img4.url }}" class="review_img" alt="4">
            </a>
    {% endif %}
          </div>
   {% if request.user == a.author %}
      <a href="{% url 'search:review_update' a.pk %}" class="btn" style="float:right;">리뷰 수정하기</a>
      {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endfor %}

<div id="modal1" class="modal">
    <div class="modal-content">

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">닫기</a>
    </div>
  </div>
    <script type="text/javascript">
      $('.modal-trigger').click(function() {
        var url = $(this).attr('alt');
        var img = $(this).children('img').attr('src');
        console.log(img);
        $.post(url, {img:img}).done(function(r){
          $('.modal .modal-content').html(r);
          $('.modal .reviewimg').find('img').attr('src', img);
        });
        console.log(url);
        // $.post()
      });
    </script>
{% else %}
<p>작성된 리뷰가 없습니다.</p>
 <div>
    <a href="{% url 'search:review_create' play.playid %}" class="btn">리뷰 작성하기</a>
    </div>
{% endif %}
{% endblock %}