{% extends 'base.html' %}

{% block search %}

<div class="recommend">
  <h1>취향저격</h1>
  {% if request.user.is_authenticated %}
    {% for i in recommend %}
    <a href="{% url 'search:detail' i.playid %}">
      <img src="{{ i.poster }}" style="display: inline-block; width: 250px; height: 300px;"></a>

    {% endfor %}
  {% endif %}
</div>
<div class="actor">
  <h1>당신이 좋아하는 사람 출연</h1>
    {% for i in recommend_actor %}
      <a href="{% url 'search:detail' i.playid %}">
      <img src="{{ i.poster }}" style="display: inline-block; width: 250px; height: 300px;"></a>

      {% empty %}
      <strong>추천할 연극이 없습니다ㅠ</strong>
    {% endfor %}
</div>
<div class="staff">
  <h1>당신이 좋아하는 사람 제작</h1>
    {% for i in recommend_staff %}
    <a href="{% url 'search:detail' i.playid %}">
      <img src="{{ i.poster }}" style="display: inline-block; width: 250px; height: 300px;"></a>

      {% empty %}
      <strong>추천할 연극이 없습니다ㅠ</strong>
    {% endfor %}
</div>
<div class="price">
  <h1>당신의 주머니사정을 고려한 추천</h1>
    {% for i in recommend_price %}
    <a href="{% url 'search:detail' i.playid %}">
      <img src="{{ i.poster }}" style="display: inline-block; width: 250px; height: 300px;"></a>

    {% endfor %}
</div>


<a href="{% url 'accounts:cardnews' %}" class="btn">추천 다시받기</a>
{% endblock %}