{% extends 'base.html' %}

{% block search %}
<div class="create" style="text-align:center;">
<form method="POST" id="review_form" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
  <br>
  <div class="star_box">
    <i class="material-icons first star">star_border</i>
    <i class="material-icons star">star_border</i>
    <i class="material-icons star">star_border</i>
    <i class="material-icons star">star_border</i>
    <i class="material-icons star">star_border</i>
  </div>
  <span class="rate" style="color: white; text-align:center;"></span>
  <br>
<button type="submit">리뷰 작성하기</button>

<script type="text/javascript">

  // $('#review_form').submit(function(e) {
  //   e.preventDefault();
  //   var title = $('#id_title').val();
  //   var content = $('#id_content').val();
  //   var tag = $('#id_tag').val();
  //   var img1 = $('#id_img1').val();
  //   var img2 = $('#id_img2').val();
  //   var img3 = $('#id_img3').val();
  //   var img4 = $('#id_img4').val();


  //   $.post('{% url "search:review_create" play.playid %}', {
  //     title: title,
  //     content: content,
  //     img1: img1,
  //     img2: img2,
  //     img3: img3,
  //     img4: img4,
  //     tag: tag,
  //     rate: parseInt($('.rate').html())
  //   }).done(function(){
  //   console.log('ok');
  //   // location.href = '{% url "search:review" play.playid %}';
  // });
  // });

  $('textarea').addClass('materialize-textarea');
  $('input:file').addClass('input-field');
  $('.star').mouseover(function(){
    var star = $('.first');
    $(this).html('star');
    $(this).prevAll().html('star');

    console.log($(this).prevAll().length+1);
  });

  $('.star').mouseout(function(){
    $('.star').html('star_border');
  });

  $('.star').click(function(){
    var star = $('.first');
    if($(this).hasClass('star')){
      $(this).html('star');
      $(this).prevAll().html('star');
      $(this).nextAll().html('star_border');
      var rate = $(this).prevAll().length+1;
      $('#id_rate').val(rate);
      $(this).removeClass('star');
      $(this).prevAll().removeClass('star');
    }else {
      $(this).html('star');
      $(this).prevAll().html('star');
      $(this).nextAll().html('star_border');
      var rate = $(this).prevAll().length+1;
      $('#id_rate').val(rate);
      $(this).nextAll().addClass('star');
    }
  });
</script>
</form>
</div>
{% endblock %}