{% extends 'base.html' %}

{% block search %}
<div class="create" style="text-align:center;">
<form method="POST" id="review_form">
{% csrf_token %}
{{ form }}
  <br>
  <div class="star_box">
    <i class="material-icons first star">star_border</i>
    <i class="material-icons star">star_border</i>
    <i class="material-icons star">star_border</i>
    <i class="material-icons star">star_border</i>
    <i class="material-icons star">star_border</i>
  </div>
  <span class="rate" style="color: white; text-align:center;"></span>
  <br>
<button type="submit">리뷰 작성하기</button>

<script type="text/javascript">

  $('#review_form').submit(function(e) {
    e.preventDefault();
    var title = $('#id_title').val();
    var content = $('#id_content').val();
    var tag = $('#id_tag').val();

    $.post('{% url "search:review_create" play.playid %}', {
      title: title,
      content: content,
      tag: tag,
      rate: parseInt($('.rate').html())
    }).done(function(){
    console.log('ok');
    location.href = '{% url "search:review" play.playid %}';
  });
  });
  $('.star').mouseover(function(){
    var star = $('.first');
    $(this).html('star');
    $(this).prevAll().html('star');

    console.log($(this).prevAll().length+1);
  });

  $('.star').mouseout(function(){
    $('.star').html('star_border');
  });

  $('.star').click(function(){
    var star = $('.first');
    if($(this).hasClass('star')){
      $(this).html('star');
      $(this).prevAll().html('star');
      $(this).nextAll().html('star_border');
      var rate = $(this).prevAll().length+1;
      $('.rate').html(rate);
      $(this).removeClass('star');
      $(this).prevAll().removeClass('star');
    }else {
      $(this).html('star');
      $(this).prevAll().html('star');
      $(this).nextAll().html('star_border');
      var rate = $(this).prevAll().length+1;
      $('.rate').html(rate);
      $(this).nextAll().addClass('star');
    }
  });
</script>
</form>
</div>
{% endblock %}