
<div class="detail">
  <div class="reviewimg">
    <img src="">
  </div>
  <div class="con">
  <p><h3 style="color: black;">{{ review.title }}</h3></p>
  <p><h5 style="color: black;">{{ review.content|safe }}</h5></p>
  {% for i in review_tag.all %}
  <div class="chip">
  {{ i.name }}
  </div>
  {% empty %}
  <p>붙은 태그가 없습니다.</p>
  {% endfor %}
            <div>
            {% if review.img1 %}
            <img src="{{ review.img1.url }}" class="review_img" alt="1">
            {% endif %}
            {% if review.img2 %}
            <img src="{{ review.img2.url }}" class="
            review_img" alt="2">
            {% endif %}
            {% if review.img3 %}
            <img src="{{ review.img3.url }}" class="review_img" alt="3">
            {% endif %}
            {% if review.img4 %}
            <img src="{{ review.img4.url }}" class="review_img" alt="4">
            {% endif %}
           </div>
   </div>
   {% if request.user == review.author %}
      <a href="{% url 'search:review_update' review.pk %}" class="btn">리뷰 수정하기</a>
      {% endif %}
   <script type="text/javascript">
    $('.review_img').click(function(){
      $('.reviewimg img').attr('src', $(this).attr('src'));
    });
   </script>
</div>
