{% extends 'base.html' %}

{% block search %}
<div class="card horizontal">
<div class="search_input row">
  <form method="POST" action="{% url 'search:result' %}" class="col s12 l12">
    {% csrf_token %}
    <div class="input-field col s2" >
        <input type="text" name="name" placeholder="작품명">
    </div>
    <div class="input-field col s2" >
        <input type="text" name="actor" placeholder="배우">
        </div>
    <div class="input-field col s2" >
        <input type="text" name="staff" placeholder="연출">
        </div>
    <div class="input-field col s2" >
        <input type="text" name="place" placeholder="장소">
        </div>
    <div class="input-field col s2" >
        <input type="text" name="minprice" placeholder="가격(원)">
        </div>
    <div class="input-field col s2" >
        <input type="date" name="date" placeholder="날짜">
        </div>
        <button type="submit" class="waves-effect waves-light btn" >검색</button>
  </form>
</div>
</div>

<div class="box">
<h3>박스오피스</h3>
{% for a in box %}
{% if a.grade > 0 and a.grade < 6 %}

{% if a.grade == 1 %}
<div class="row" style="display: inline-block; float:left; margin: 0 auto;">
    <div class="col" >
    <div class="col s2 m7" >
      <div class="card large" style="width:500px; height:625px;">

        <div class="card-image">
          <img src="{{ a.poster }}" >
          <span class="card-title"><h1>{{ a.grade }}위</h1></span>
        </div>
        <div class="card-content">
          <a href="{% url 'search:detail' a.playid %}"><p><h3>{{ a.name }}</h3></p></a>
          <p>{{ a.actor }}</p>
        </div>
        <div class="card-action">
                <div class="star_box">
                <i class="material-icons first star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <span><h5 style="display: inline-block;">{{ a.rate }}</h5></span>

          </div>
        </div>
      </div>
    </div>
</div>
</div>

{% else %}
<div class="row" style="display: inline-block;">
    <div class="col">
    <div class="col s2 m7" style="width:250px; height:300px;">
      <div class="card small">
        <div class="card-image" class="poster">
          <img src="{{ a.poster }}" >
          <span class="card-title">{{ a.grade }}위</span>
        </div>
        <div class="card-content">
          <a href="{% url 'search:detail' a.playid %}"><p><h5 style="margin-top:0;">{{ a.name }}</h5></p></a>

        </div>
        <div class="card-action">
          <div class="star_box">
                <i class="material-icons first star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <span>{{ a.rate }}</span>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
{% endif %}
{% endif %}
  <script type="text/javascript">
    var rate = "{{ a.rate }}";
    var star = document.getElementsByClassName("star {{ a.name }}");
    for(var i=0; i<parseInt(rate); i++) {
      star[i].innerHTML = "star";
    }
    if((rate%1) >= 0.5){
      star[i].innerHTML = "star_half";
    }
  </script>
{% endfor %}
</div>
{% endblock %}