{% extends 'base.html' %}
{% load static %}

{% block js %}
<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}

{% block search %}
<link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
<div class="search">

  <div class="search_input row">
    <form method="POST" action="{% url 'search:result' %}" class="col s12 l12">
      {% csrf_token %}
          <div class="input-field col s2" >
              <input type="text" name="name" placeholder="작품명">
          </div>
          <div class="input-field col s2" >
              <input type="text" name="actor" placeholder="배우">
              </div>
          <div class="input-field col s2" >
              <input type="text" name="staff" placeholder="연출">
              </div>
          <div class="input-field col s2" >
              <input type="text" name="place" placeholder="장소">
              </div>
          <div class="input-field col s2" >
              <input type="text" name="minprice" placeholder="가격(원)">
              </div>
          <div class="input-field col s2" >
              <input type="date" name="date" placeholder="날짜">
              </div>
          <button type="submit" class="waves-effect waves-light btn">
    <img class="search_btn" src="{% static 'img/search_btn.png' %}">
    </button>
    </form>
  </div>

</div>

<!-- 박스오피스 -->
<img id="box_office_img" src="{% static 'img/box_office.png'%}">
<div class="wrapper">

<div class="box">
{% for a in box %}
{% if a.grade > 0 and a.grade < 6 %}

{% if a.grade == 1 %}

<div class="row" style="display: inline-block; float:left; margin: 0 auto;">

      <div class="card_wrap_1">
        <div class="card_image_1"
             style="background:url({{ a.poster }}) no-repeat;">
          <span class="card-title"><h3>{{ a.grade }}위</h3></span></div>
          <div class="card_info_1">
            <div class="card-content">
              <a href="{% url 'search:detail' a.playid %}"><p><h4>{{ a.name }}</h4></p></a>
              <p class="actor">{{ a.actor }}</p>
            </div>
            <div class="card-action">
                <div class="star_box">
                <i class="material-icons first star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <span><h5 style="display: inline-block;">{{ a.rate }}</h5></span>
              </div>
          </div>
        </div>
    </div>

</div>
</div>
{% else %}
<div class="row" style="display: inline-block; margin: 0 auto;">

    <div class="card_wrap_{{ a.grade }}">
        <div class="card_image_{{ a.grade }}"
             style="background:url({{a.poster}}) no-repeat;">
          <span class="card-title"><h3>{{ a.grade }}위</h3></span>
        </div>
        <div class="card_info_{{ a.grade }}">
        <div class="card-content">
          <a href="{% url 'search:detail' a.playid %}"><p><h5>{{ a.name }}</h5></p></a><p class="actor">{{ a.actor }}</p>
        </div>
        </div>

        <div class="card-action">
          <div class="star_box">
                <i class="material-icons first star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <i class="material-icons star {{ a.name }}">star_border</i>
                <span>{{ a.rate }}</span>
          </div>
        </div>
      </div>
      </div>
{% endif %}

{% endif %}
  <script type="text/javascript">
    var rate = "{{ a.rate }}";
    var star = document.getElementsByClassName("star {{ a.name }}");
    for(var i=0; i<parseInt(rate); i++) {
      star[i].innerHTML = "star";
    }
    if((rate%1) >= 0.5){
      star[i].innerHTML = "star_half";
    }
  </script>
{% endfor %}
</div>
{% endblock %}